html {
    background-color: azure;
}
body {
    min-height: 100vh;
    max-width: 850px;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 105%;
    border: 3px solid black;
    background-color: cornflowerblue;
    
}

header h2 {
    font-size: 250%;
    text-align: center;
    margin-top: 15px;
}
.bannerimage {
    max-width: 500px;
    display: block;
    margin: 0 auto;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #06c0f3;
    text-shadow: 3px 3px 1px black;
    font-size: 60px;
    text-align: center;
}
  
  p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }